/* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.BS-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.BS-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.BS-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.BS-table,.BS-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.BS-table-all{border:1px solid #ccc}
.BS-bordered tr,.BS-table-all tr{border-bottom:1px solid #ddd}.BS-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.BS-table-all tr:nth-child(odd){background-color:#fff}.BS-table-all tr:nth-child(even){background-color:#f1f1f1}
.BS-hoverable tbody tr:hover,.BS-ul.BS-hoverable li:hover{background-color:#ccc}.BS-centered tr th,.BS-centered tr td{text-align:center}
.BS-table td,.BS-table th,.BS-table-all td,.BS-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.BS-table th:first-child,.BS-table td:first-child,.BS-table-all th:first-child,.BS-table-all td:first-child{padding-left:16px}
.BS-btn,.BS-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.BS-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.BS-btn,.BS-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.BS-disabled,.BS-btn:disabled,.BS-button:disabled{cursor:not-allowed;opacity:0.3}.BS-disabled *,:disabled *{pointer-events:none}
.BS-btn.BS-disabled:hover,.BS-btn:disabled:hover{box-shadow:none}
.BS-badge,.BS-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.BS-badge{border-radius:50%}
.BS-ul{list-style-type:none;padding:0;margin:0}.BS-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.BS-ul li:last-child{border-bottom:none}
.BS-tooltip,.BS-display-container{position:relative}.BS-tooltip .BS-text{display:none}.BS-tooltip:hover .BS-text{display:inline-block}
.BS-ripple:active{opacity:0.5}.BS-ripple{transition:opacity 0s}
.BS-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.BS-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.BS-dropdown-click,.BS-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.BS-dropdown-hover:hover .BS-dropdown-content{display:block}
.BS-dropdown-hover:first-child,.BS-dropdown-click:hover{background-color:#ccc;color:#000}
.BS-dropdown-hover:hover > .BS-button:first-child,.BS-dropdown-click:hover > .BS-button:first-child{background-color:#ccc;color:#000}
.BS-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.BS-check,.BS-radio{width:24px;height:24px;position:relative;top:6px}
.BS-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.BS-bar-block .BS-dropdown-hover,.BS-bar-block .BS-dropdown-click{width:100%}
.BS-bar-block .BS-dropdown-hover .BS-dropdown-content,.BS-bar-block .BS-dropdown-click .BS-dropdown-content{min-width:100%}
.BS-bar-block .BS-dropdown-hover .BS-button,.BS-bar-block .BS-dropdown-click .BS-button{width:100%;text-align:left;padding:8px 16px}
.BS-main,#main{transition:margin-left .4s}
.BS-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.BS-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.BS-bar{width:100%;overflow:hidden}.BS-center .BS-bar{display:inline-block;width:auto}
.BS-bar .BS-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.BS-bar .BS-dropdown-hover,.BS-bar .BS-dropdown-click{position:static;float:left}
.BS-bar .BS-button{white-space:normal}
.BS-bar-block .BS-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.BS-bar-block.BS-center .BS-bar-item{text-align:center}.BS-block{display:block;width:100%}
.BS-responsive{display:block;overflow-x:auto}
.BS-container:after,.BS-container:before,.BS-panel:after,.BS-panel:before,.BS-row:after,.BS-row:before,.BS-row-padding:after,.BS-row-padding:before,
.BS-cell-row:before,.BS-cell-row:after,.BS-clear:after,.BS-clear:before,.BS-bar:before,.BS-bar:after{content:"";display:table;clear:both}
.BS-col,.BS-half,.BS-third,.BS-twothird,.BS-threequarter,.BS-quarter{float:left;width:100%}
.BS-col.s1{width:8.33333%}.BS-col.s2{width:16.66666%}.BS-col.s3{width:24.99999%}.BS-col.s4{width:33.33333%}
.BS-col.s5{width:41.66666%}.BS-col.s6{width:49.99999%}.BS-col.s7{width:58.33333%}.BS-col.s8{width:66.66666%}
.BS-col.s9{width:74.99999%}.BS-col.s10{width:83.33333%}.BS-col.s11{width:91.66666%}.BS-col.s12{width:99.99999%}
@media (min-width:601px){.BS-col.m1{width:8.33333%}.BS-col.m2{width:16.66666%}.BS-col.m3,.BS-quarter{width:24.99999%}.BS-col.m4,.BS-third{width:33.33333%}
.BS-col.m5{width:41.66666%}.BS-col.m6,.BS-half{width:49.99999%}.BS-col.m7{width:58.33333%}.BS-col.m8,.BS-twothird{width:66.66666%}
.BS-col.m9,.BS-threequarter{width:74.99999%}.BS-col.m10{width:83.33333%}.BS-col.m11{width:91.66666%}.BS-col.m12{width:99.99999%}}
@media (min-width:993px){.BS-col.l1{width:8.33333%}.BS-col.l2{width:16.66666%}.BS-col.l3{width:24.99999%}.BS-col.l4{width:33.33333%}
.BS-col.l5{width:41.66666%}.BS-col.l6{width:49.99999%}.BS-col.l7{width:58.33333%}.BS-col.l8{width:66.66666%}
.BS-col.l9{width:74.99999%}.BS-col.l10{width:83.33333%}.BS-col.l11{width:91.66666%}.BS-col.l12{width:99.99999%}}
.BS-rest{overflow:hidden}.BS-stretch{margin-left:-16px;margin-right:-16px}
.BS-content,.BS-auto{margin-left:auto;margin-right:auto}.BS-content{max-width:980px}.BS-auto{max-width:1140px}
.BS-cell-row{display:table;width:100%}.BS-cell{display:table-cell}
.BS-cell-top{vertical-align:top}.BS-cell-middle{vertical-align:middle}.BS-cell-bottom{vertical-align:bottom}
.BS-hide{display:none!important}.BS-show-block,.BS-show{display:block!important}.BS-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.BS-auto{max-width:95%}}
@media (max-width:600px){.BS-modal-content{margin:0 10px;width:auto!important}.BS-modal{padding-top:30px}
.BS-dropdown-hover.BS-mobile .BS-dropdown-content,.BS-dropdown-click.BS-mobile .BS-dropdown-content{position:relative}	
.BS-hide-small{display:none!important}.BS-mobile{display:block;width:100%!important}.BS-bar-item.BS-mobile,.BS-dropdown-hover.BS-mobile,.BS-dropdown-click.BS-mobile{text-align:center}
.BS-dropdown-hover.BS-mobile,.BS-dropdown-hover.BS-mobile .BS-btn,.BS-dropdown-hover.BS-mobile .BS-button,.BS-dropdown-click.BS-mobile,.BS-dropdown-click.BS-mobile .BS-btn,.BS-dropdown-click.BS-mobile .BS-button{width:100%}}
@media (max-width:768px){.BS-modal-content{width:500px}.BS-modal{padding-top:50px}}
@media (min-width:993px){.BS-modal-content{width:900px}.BS-hide-large{display:none!important}.BS-sidebar.BS-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.BS-hide-medium{display:none!important}}
@media (max-width:992px){.BS-sidebar.BS-collapse{display:none}.BS-main{margin-left:0!important;margin-right:0!important}.BS-auto{max-width:100%}}
.BS-top,.BS-bottom{position:fixed;width:100%;z-index:1}.BS-top{top:0}.BS-bottom{bottom:0}
.BS-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.BS-display-topleft{position:absolute;left:0;top:0}.BS-display-topright{position:absolute;right:0;top:0}
.BS-display-bottomleft{position:absolute;left:0;bottom:0}.BS-display-bottomright{position:absolute;right:0;bottom:0}
.BS-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.BS-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.BS-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.BS-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.BS-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.BS-display-container:hover .BS-display-hover{display:block}.BS-display-container:hover span.BS-display-hover{display:inline-block}.BS-display-hover{display:none}
.BS-display-position{position:absolute}
.BS-circle{border-radius:50%}
.BS-round-small{border-radius:2px}.BS-round,.BS-round-medium{border-radius:4px}.BS-round-large{border-radius:8px}.BS-round-xlarge{border-radius:16px}.BS-round-xxlarge{border-radius:32px}
.BS-row-padding,.BS-row-padding>.BS-half,.BS-row-padding>.BS-third,.BS-row-padding>.BS-twothird,.BS-row-padding>.BS-threequarter,.BS-row-padding>.BS-quarter,.BS-row-padding>.BS-col{padding:0 8px}
.BS-container,.BS-panel{padding:0.01em 16px}.BS-panel{margin-top:16px;margin-bottom:16px}
.BS-code,.BS-codespan{font-family:Consolas,"courier new";font-size:16px}
.BS-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.BS-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.BS-card,.BS-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.BS-card-4,.BS-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.BS-spin{animation:w3-spin 2s infinite linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.BS-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.BS-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.BS-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.BS-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.BS-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.BS-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.BS-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.BS-animate-input{transition:width 0.4s ease-in-out}.BS-animate-input:focus{width:100%!important}
.BS-opacity,.BS-hover-opacity:hover{opacity:0.60}.BS-opacity-off,.BS-hover-opacity-off:hover{opacity:1}
.BS-opacity-max{opacity:0.25}.BS-opacity-min{opacity:0.75}
.BS-greyscale-max,.BS-grayscale-max,.BS-hover-greyscale:hover,.BS-hover-grayscale:hover{filter:grayscale(100%)}
.BS-greyscale,.BS-grayscale{filter:grayscale(75%)}.BS-greyscale-min,.BS-grayscale-min{filter:grayscale(50%)}
.BS-sepia{filter:sepia(75%)}.BS-sepia-max,.BS-hover-sepia:hover{filter:sepia(100%)}.BS-sepia-min{filter:sepia(50%)}
.BS-tiny{font-size:10px!important}.BS-small{font-size:12px!important}.BS-medium{font-size:15px!important}.BS-large{font-size:18px!important}
.BS-xlarge{font-size:24px!important}.BS-xxlarge{font-size:36px!important}.BS-xxxlarge{font-size:48px!important}.BS-jumbo{font-size:64px!important}
.BS-left-align{text-align:left!important}.BS-right-align{text-align:right!important}.BS-justify{text-align:justify!important}.BS-center{text-align:center!important}
.BS-border-0{border:0!important}.BS-border{border:1px solid #ccc!important}
.BS-border-top{border-top:1px solid #ccc!important}.BS-border-bottom{border-bottom:1px solid #ccc!important}
.BS-border-left{border-left:1px solid #ccc!important}.BS-border-right{border-right:1px solid #ccc!important}
.BS-topbar{border-top:6px solid #ccc!important}.BS-bottombar{border-bottom:6px solid #ccc!important}
.BS-leftbar{border-left:6px solid #ccc!important}.BS-rightbar{border-right:6px solid #ccc!important}
.BS-section,.BS-code{margin-top:16px!important;margin-bottom:16px!important}
.BS-margin{margin:16px!important}.BS-margin-top{margin-top:16px!important}.BS-margin-bottom{margin-bottom:16px!important}
.BS-margin-left{margin-left:16px!important}.BS-margin-right{margin-right:16px!important}
.BS-padding-small{padding:4px 8px!important}.BS-padding{padding:8px 16px!important}.BS-padding-large{padding:12px 24px!important}
.BS-padding-16{padding-top:16px!important;padding-bottom:16px!important}.BS-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.BS-padding-32{padding-top:32px!important;padding-bottom:32px!important}.BS-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.BS-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.BS-left{float:left!important}.BS-right{float:right!important}
.BS-button:hover{color:#000!important;background-color:#ccc!important}
.BS-transparent,.BS-hover-none:hover{background-color:transparent!important}
.BS-hover-none:hover{box-shadow:none!important}
/* Colors */
.BS-amber,.BS-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.BS-aqua,.BS-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.BS-blue,.BS-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.BS-light-blue,.BS-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.BS-brown,.BS-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.BS-cyan,.BS-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.BS-blue-grey,.BS-hover-blue-grey:hover,.BS-blue-gray,.BS-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.BS-green,.BS-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.BS-light-green,.BS-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.BS-indigo,.BS-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.BS-khaki,.BS-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.BS-lime,.BS-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.BS-orange,.BS-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.BS-deep-orange,.BS-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.BS-pink,.BS-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.BS-purple,.BS-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.BS-deep-purple,.BS-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.BS-red,.BS-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.BS-sand,.BS-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.BS-teal,.BS-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.BS-yellow,.BS-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.BS-white,.BS-hover-white:hover{color:#000!important;background-color:#fff!important}
.BS-black,.BS-hover-black:hover{color:#fff!important;background-color:#000!important}
.BS-grey,.BS-hover-grey:hover,.BS-gray,.BS-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.BS-light-grey,.BS-hover-light-grey:hover,.BS-light-gray,.BS-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.BS-dark-grey,.BS-hover-dark-grey:hover,.BS-dark-gray,.BS-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.BS-pale-red,.BS-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.BS-pale-green,.BS-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.BS-pale-yellow,.BS-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.BS-pale-blue,.BS-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.BS-text-amber,.BS-hover-text-amber:hover{color:#ffc107!important}
.BS-text-aqua,.BS-hover-text-aqua:hover{color:#00ffff!important}
.BS-text-blue,.BS-hover-text-blue:hover{color:#2196F3!important}
.BS-text-light-blue,.BS-hover-text-light-blue:hover{color:#87CEEB!important}
.BS-text-brown,.BS-hover-text-brown:hover{color:#795548!important}
.BS-text-cyan,.BS-hover-text-cyan:hover{color:#00bcd4!important}
.BS-text-blue-grey,.BS-hover-text-blue-grey:hover,.BS-text-blue-gray,.BS-hover-text-blue-gray:hover{color:#607d8b!important}
.BS-text-green,.BS-hover-text-green:hover{color:#4CAF50!important}
.BS-text-light-green,.BS-hover-text-light-green:hover{color:#8bc34a!important}
.BS-text-indigo,.BS-hover-text-indigo:hover{color:#3f51b5!important}
.BS-text-khaki,.BS-hover-text-khaki:hover{color:#b4aa50!important}
.BS-text-lime,.BS-hover-text-lime:hover{color:#cddc39!important}
.BS-text-orange,.BS-hover-text-orange:hover{color:#ff9800!important}
.BS-text-deep-orange,.BS-hover-text-deep-orange:hover{color:#ff5722!important}
.BS-text-pink,.BS-hover-text-pink:hover{color:#e91e63!important}
.BS-text-purple,.BS-hover-text-purple:hover{color:#9c27b0!important}
.BS-text-deep-purple,.BS-hover-text-deep-purple:hover{color:#673ab7!important}
.BS-text-red,.BS-hover-text-red:hover{color:#f44336!important}
.BS-text-sand,.BS-hover-text-sand:hover{color:#fdf5e6!important}
.BS-text-teal,.BS-hover-text-teal:hover{color:#009688!important}
.BS-text-yellow,.BS-hover-text-yellow:hover{color:#d2be0e!important}
.BS-text-white,.BS-hover-text-white:hover{color:#fff!important}
.BS-text-black,.BS-hover-text-black:hover{color:#000!important}
.BS-text-grey,.BS-hover-text-grey:hover,.BS-text-gray,.BS-hover-text-gray:hover{color:#757575!important}
.BS-text-light-grey,.BS-hover-text-light-grey:hover,.BS-text-light-gray,.BS-hover-text-light-gray:hover{color:#f1f1f1!important}
.BS-text-dark-grey,.BS-hover-text-dark-grey:hover,.BS-text-dark-gray,.BS-hover-text-dark-gray:hover{color:#3a3a3a!important}
.BS-border-amber,.BS-hover-border-amber:hover{border-color:#ffc107!important}
.BS-border-aqua,.BS-hover-border-aqua:hover{border-color:#00ffff!important}
.BS-border-blue,.BS-hover-border-blue:hover{border-color:#2196F3!important}
.BS-border-light-blue,.BS-hover-border-light-blue:hover{border-color:#87CEEB!important}
.BS-border-brown,.BS-hover-border-brown:hover{border-color:#795548!important}
.BS-border-cyan,.BS-hover-border-cyan:hover{border-color:#00bcd4!important}
.BS-border-blue-grey,.BS-hover-border-blue-grey:hover,.BS-border-blue-gray,.BS-hover-border-blue-gray:hover{border-color:#607d8b!important}
.BS-border-green,.BS-hover-border-green:hover{border-color:#4CAF50!important}
.BS-border-light-green,.BS-hover-border-light-green:hover{border-color:#8bc34a!important}
.BS-border-indigo,.BS-hover-border-indigo:hover{border-color:#3f51b5!important}
.BS-border-khaki,.BS-hover-border-khaki:hover{border-color:#f0e68c!important}
.BS-border-lime,.BS-hover-border-lime:hover{border-color:#cddc39!important}
.BS-border-orange,.BS-hover-border-orange:hover{border-color:#ff9800!important}
.BS-border-deep-orange,.BS-hover-border-deep-orange:hover{border-color:#ff5722!important}
.BS-border-pink,.BS-hover-border-pink:hover{border-color:#e91e63!important}
.BS-border-purple,.BS-hover-border-purple:hover{border-color:#9c27b0!important}
.BS-border-deep-purple,.BS-hover-border-deep-purple:hover{border-color:#673ab7!important}
.BS-border-red,.BS-hover-border-red:hover{border-color:#f44336!important}
.BS-border-sand,.BS-hover-border-sand:hover{border-color:#fdf5e6!important}
.BS-border-teal,.BS-hover-border-teal:hover{border-color:#009688!important}
.BS-border-yellow,.BS-hover-border-yellow:hover{border-color:#ffeb3b!important}
.BS-border-white,.BS-hover-border-white:hover{border-color:#fff!important}
.BS-border-black,.BS-hover-border-black:hover{border-color:#000!important}
.BS-border-grey,.BS-hover-border-grey:hover,.BS-border-gray,.BS-hover-border-gray:hover{border-color:#9e9e9e!important}
.BS-border-light-grey,.BS-hover-border-light-grey:hover,.BS-border-light-gray,.BS-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.BS-border-dark-grey,.BS-hover-border-dark-grey:hover,.BS-border-dark-gray,.BS-hover-border-dark-gray:hover{border-color:#616161!important}
.BS-border-pale-red,.BS-hover-border-pale-red:hover{border-color:#ffe7e7!important}.BS-border-pale-green,.BS-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.BS-border-pale-yellow,.BS-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.BS-border-pale-blue,.BS-hover-border-pale-blue:hover{border-color:#e7ffff!important}